.c-body {
  margin-top:40px;
  background-color: lavender;
  width: 380px;
  height: 575px;

  .c-button {
    border-radius: 5px;
    border: 29px;
    height: 70px;
    width: 70px;
    margin: 1px;
    font-size: 25px;
    border: 3px solid rgb(56, 55, 55);
  }
  .c-button-big {
    border-radius: 5px;
    border: 29px;
    height: 70px;
    width: 142px;
    margin: 1px;
    font-size: 25px;
    border: 3px solid rgb(56, 55, 55);
  }

  h1 {
    text-align: center;
  }

  .c-display {
    padding-right: 10px;
    height: 60px;
    width: 304px;
    text-align: right;
    font-size: 40px;
    border-color: rgba(0, 255, 0, 0.7);
  }
}

