.c-body {
  margin-top:40px;
  background-color: lavender;
  width: 380px;
  height: 575px;

  .c-button {
    border-radius: 5px;
    border: 29px;
    height: 70px;
    width: 70px;
    margin: 4px;
    font-size: 25px;
    border: 3px solid rgb(56, 55, 55);
  }

  h1 {
    text-align: center;
  }
}

